#container {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    margin-top: 8vh;
    width: 40%;
    gap: 8px;
}

#pcard{
    width: 46%;
    height: 35vh;
    background-color: rgb(102, 43, 94);
}

.gcard{
    display: flex;
    flex-flow: row wrap;
    width: 46%;
    height: 35vh;
    gap: 8px;
}

.card{
    width: 48%;
    height: 16.5vh;
    background-color: rgb(6, 175, 133);
}

#bcard{
    width: 46%;
    height: 35vh;
    background-color: rgb(93, 170, 233);
}